<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="avatar.css" />
    <title>Avatar</title>
  </head>
  <body>
    <div>
      <img class="avatar" src="https://i.pravatar.cc/300" alt="profile" />
      <img class="avatar" src="https://i.pravatar.cc/300" alt="profile" />
      <img class="avatar" src="https://i.pravatar.cc/300" alt="profile" />
    </div>
    <div>
      <img
        class="avatar avatar-sm"
        src="https://i.pravatar.cc/300"
        alt="profile"
      />
      <img
        class="avatar avatar-md"
        src="https://i.pravatar.cc/300"
        alt="profile"
      />
      <img
        class="avatar avatar-lg"
        src="https://i.pravatar.cc/300"
        alt="profile"
      />
    </div>
    <div>
      <img
        class="avatar avatar-square"
        src="https://i.pravatar.cc/300"
        alt="profile"
      />
      <img
        class="avatar avatar-square"
        src="https://i.pravatar.cc/300"
        alt="profile"
      />
      <img
        class="avatar avatar-square"
        src="https://i.pravatar.cc/300"
        alt="profile"
      />
    </div>
  </body>
</html>
