<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="avatar.css" />
    <title>Avatar</title>
  </head>
  <body>
    <div>
      <img
        class="avatar"
        src="https://pbs.twimg.com/profile_images/1486949821747372034/GZnwQVai_400x400.jpg"
        alt="profile"
      />
      <img
        class="avatar"
        src="https://pbs.twimg.com/profile_images/1350667071202332673/glWYSyvy_400x400.jpg"
        alt="profile"
      />
      <img class="avatar" src="/assets/images/dogimg.jpg" alt="profile" />
    </div>
    <div>
      <img class="avatar sm" src="/assets/images/dogimg.jpg" alt="profile" />
      <img class="avatar md" src="/assets/images/dogimg.jpg" alt="profile" />
      <img class="avatar lg" src="/assets/images/dogimg.jpg" alt="profile" />
    </div>
    <div>
      <img
        class="avatar square"
        src="/assets/images/dogimg.jpg"
        alt="profile"
      />
      <img
        class="avatar square"
        src="/assets/images/dogimg.jpg"
        alt="profile"
      />
      <img
        class="avatar square"
        src="/assets/images/dogimg.jpg"
        alt="profile"
      />
    </div>
  </body>
</html>
