.avatar {
  max-inline-size: 100%;
  block-size: auto;
  border-radius: 50%;
  object-fit: cover;
}

.sm {
  height: 3rem;
  width: 3rem;
}

.md {
  height: 5rem;
  width: 5rem;
}

.lg {
  height: 7rem;
  width: 7rem;
}

.square {
  border-radius: 5px;
}
