.avatar {
  max-inline-size: 100%;
  block-size: auto;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-sm {
  height: 3rem;
  width: 3rem;
}

.avatar-md {
  height: 5rem;
  width: 5rem;
}

.avatar-lg {
  height: 7rem;
  width: 7rem;
}

.avatar-square {
  border-radius: 4px;
}
