@import url(./main.css);
@import url(./navbar.css);
@import url(./drawer.css);
@import url(./page.css);


.avatar {
  max-inline-size: 100%;
  block-size: auto;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  object-fit: cover;
}

.code-snip {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.sm {
  height: 3rem;
  width: 3rem;
}

.md {
  height: 5rem;
  width: 5rem;
}

.lg {
  height: 7rem;
  width: 7rem;
}

.square {
  border-radius: 5px;
}

a{
  color: inherit;
}