@import url(navbar.css);
@import url(drawer.css);
@import url(main.css);
@import url(page.css);

.badge {
  background-color: var(--primary-color);
  border-radius: 80%;
  border: 1px solid white;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 6px;
  padding-right: 6px;
  position: relative;
  /* bottom: 12px;  */
  top: 0px;
  right: 24px;
  vertical-align: bottom;
}

.number-badge {
  background-color: var(--primary-color);
  color: white;
  border-radius: 80%;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 3px;
  padding-bottom: 3px;
  position: relative;
  bottom: 5px;
  right: 10px;
  vertical-align: top;
  font-size: 0.8rem;
}

