.drawer-container {
  display: flex;
  /* box-shadow: 0 4px 4px 0 rgba(0, 0.5, 0.5, 0.05); */
  width: 100%;
  padding-top: 4rem;
}

.aside-component {
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--gray);
  overscroll-behavior: contain;
  position: sticky;
  top: 4.2rem;
  width: 280px;
  height: calc(100vh - 6.125rem);
  flex-shrink: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}


.drawer-header {
  padding: 1rem 5rem 0.7rem 2rem;
  color: var(--text-color);
  font-weight: 600;
  font-size: 1.3rem;
}

.drawer-items a {
  display: block;
  font-weight: 400;
  color: var(--text-color);
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 2rem;
  padding-right: 1rem;
  font-size: 1.1rem;
  border-radius: 5px;
  width: 18rem;
}

.active-item {
  color: var(--primary-color) !important;
  background-color: var(--lightBlue);
}

.drawer-items a:hover {
  background-color: var(--white);
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .aside-component {
    display: none;
  }
  .drawer-container {
    display: block;
  }
}
