.drawer-container {
  display: flex;
}

.aside-component {
  display: flex;
  flex-direction: column;
  /* border-right: 1px solid #808080; */
  width: 24rem;
  height: 500px;
}

.sideheader {
  padding: 1rem 1rem 0 1rem;
}

h4 {
  color: var(--text-color);
  margin-right: 70px;
}

i {
  margin-right: 30px;
  font-size: 1.3rem;
  margin-left: 5px;
}

.item {
  padding: 1rem;
  font-weight: 500;
  color: var(--text-color);
  font-size: 1.1rem;
}

.sidebar {
  color: #676766;
}

.headitems {
  padding: 0.6rem;
}

.item1 {
  color: var(--primary-color);
  background-color: var(--lightBlue);
  padding: 1rem;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
}

.item:hover {
  background-color: var(--gray);
  cursor: pointer;
}

.label {
  font-size: 14px;
}

.item1:active,
.item:active {
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .aside-component {
    display: none;
  }
  .drawer-container {
   display: block;
  }
}

