.drawer-container {
  display: flex;
}

.aside-component {
  display: flex;
  flex-direction: column;
  width: 20rem;
}

.drawer-header {
  padding: 1rem 1rem 0.7rem 1rem;
  color: var(--text-color);
  font-weight: 400;
}

.drawer-items a {
  display: block;
  font-weight: 500;
  color: var(--text-color);
  padding: 0.8rem 1rem;
  font-size: 1.1rem;
  border-radius: 5px;
}

.active-item {
  color: var(--primary-color) !important;
  background-color: var(--lightBlue);
}

.drawer-items a:hover {
  background-color: var(--gray);
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .aside-component {
    display: none;
  }
  .drawer-container {
    display: block;
  }
}
