.grid-2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-3-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-item {
  border: 1px solid black;
  padding: 10px;
  width: 15rem;
  background-color: var(--lightBlue);
  color: var(--primary-color);
}

.grid-2-row {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.grid-3-row {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

@media only screen and (max-width: 800px) {
  .grid-item {
    width: 5rem;
  }
}
