.home-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 0 5rem;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  height: max-content;
}

.home-page-description {
  place-self: center;
  color: var(--black);
  font-size: 1.5rem;
  text-align: left;
}

.desc-title {
  word-wrap: break-word;
  color: var(--primary-color);
  font-size: 2rem;
  text-align: left;
  margin-bottom: 5px;
}

@media only screen and (max-width: 1280px) {
  .home-page {
    grid-template-columns: 1fr 1fr;
    padding: 5rem 3rem;
  }
}

@media only screen and (max-width: 768px) {
  .home-page {
    grid-template-columns: 1fr;
    padding: 5rem 3rem;
  }
}
