.navbar {
  background-color: var(--white);
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.2rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.fixed{
  position: fixed;
}

.nav-link {
  color: var(--black);
  padding: 5px;
  cursor: pointer;
}

.nav-right-items{
  margin-left: auto;
  gap: 10px;
}

.nav-link:last-child {
  margin-left: auto;
  cursor: pointer;
}

.nav-link:hover,
.active {
  color: var(--primary-color);
}

.nav-title {
  color: var(--primary-color);
  font-size: 1.5rem;
}

.nav-logo{
  font-size: 1.3rem;
}

.nav-icon{
  font-size: 1.5rem;
}

.color{
  background-color: var(--lightBlue);
}

@media only screen and (max-width: 768px) {
  .navbar {
    font-size: 1rem;
    width: 100%;
  }
}
