.success-toast{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    border: 1px solid var(--primary-color);
    padding: 10px;
    border-radius: 5px;
    background-color: var(--lightBlue);
    color: var(--primary-color);
    cursor: pointer;
    font-size: 1rem
}

.error-toast{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    border: 1px solid var(--danger);
    padding: 10px;
    border-radius: 5px;
    background-color: var(--white);
    color: var(--danger);
    cursor: pointer;
    font-size: 1rem
}
